.home {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .page-content {
    max-width: 500px;
    width: 100%;
  }

  section {
    border-top: 1px solid #80808042;
    padding: 50px 15px;
  }
}
