{
  "root": true,
  "extends": ["unobtrusive", "unobtrusive/import", "unobtrusive/react"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/named": 0,
    "import/export": 0
  },
  "globals": {
    "process": true
  }
}
